{
	"env": {
		"browser": true,
		"es6": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:vue/essential"
	],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parserOptions": {
		"parser": "@typescript-eslint/parser",
		"ecmaVersion": 2018,
		"sourceType": "module",
		"ecmaFeatures": {
			"legacyDecorators": true
		}
	},
	"plugins": [
		"vue",
		"@typescript-eslint"
	],
	"rules": {
		"no-console": "off",
		"no-unused-vars": "warn"
	}
}